.bag{
    background-color: rgb(146, 234, 146);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
   
}
.wishlist{
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px ;
    margin: 2px;
    text-transform: uppercase;
}